
/* index2 */

#header {
    background-color: #1B8C42;
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.full_section2 {
    background-image: url(Assets/Quiz-app-UI/3x/quiz-page-bg@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#quiz1_head1 {
    color: goldenrod;
    font-size: 30px;
    font-weight: 700;
}

#quiz1_head2 {
    position: relative;
    top: -45px;
    text-transform: uppercase;
    color: goldenrod;
    font-size: 100px;
    font-weight: 900;
}

#quiz1_level1 {
    position: relative;
    top: -40px;
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
}

#text_contenta {
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
    position: relative;
    left: -25px;
}

#ques_no {
    font-size: 20px;
    font-weight: 800;
    color: rgb(88, 88, 88);
}

#ques_no1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(88, 88, 88);
    margin-top: -20px;
}

[for="Textarea1"], [for="eTextarea2"], [for="eTextarea3"], [for="eTextarea4"], #ques5 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.button1, .button_last {
    margin-top: 20px;
}

#ans {
    font-size: 30px;
    font-weight: 800;
    color: rgb(42, 221, 66);
}
#answer {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    align-items: center;
    margin: 100px auto;
}

